@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: linear-gradient(0deg, #200000 ,#f4423f);
	height: 100vh;
}
#container {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../img/night.jpg');
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
#container .content {
	max-width: 600px;
	text-align: center;
}
#container .content h2 {
	font-size: 18vw;
	color: #f4423f;
	line-height: 1em;
}
#container .content h4 {
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
}
#container .content p {
	color: #fff;
	font-size: 1.2em;
}
#container .content a {
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	background: #f4423f;
	text-decoration: none;
	margin-top: 25px;
	border-radius: 20px;
	color: #fff;
}

@media only screen and (max-width: 1024px)
{
	#container .content h2 {
	font-size: 24vw;
	}
	#container .content h4 {
	font-size: 2.2em;
	}
	#container .content p {
	font-size: 1.6em;
	}
	#container .content a {
	font-size: 1.1em;
	}
}